<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamentos</title>
</head>
<body>
    <h2> Departamentos </h2>
    <form action="/departaments" method="POST">
      <input type="text" placeholder="Código" name="codeDept">
      <input type="text" placeholder="Nombre" name="nameDept">
      <button type="submit">Guardar</button>
    </form>
    <hr/>
<ul class="departamentos">
  <!-- Loop through departaments -->
  <% for(var i = 0; i < departaments.length; i++) {%>
    <li class="departamento">
      <!-- Output code from the iterated departament object -->
      <span><%= departaments[i].DEPTCODE %></span>:
      <!-- Output name from the iterated departament object -->
      <span><%= departaments[i].DEPTNAME %></span>
    </li>
  <% } %>
</ul>
</body>
</html>